/* contact.css */

/* General Styles */
.custom-contact__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 60px;
  background-color:black;
}

.custom-contact__section {
  padding: 20px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.1);
}

.custom-contact__logo h1 {
  color: rgb(134, 121, 65);
  font-size: 2rem;
  margin-bottom: 10px;
}

.custom-contact__info {
  list-style-type: none;
  padding: 0;
}

.custom-contact__info li {
  margin: 8px 0;
}

.custom-contact__links h3,
.custom-contact__hours h3,
.custom-contact__newsletter h3 {
  color: rgb(134, 121, 65);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.custom-contact__links ul,
.custom-contact__hours ul {
  list-style-type: none;
  padding: 0;
}

.custom-contact__links li,
.custom-contact__hours li {
  margin: 8px 0;
}

.custom-contact__newsletter form {
  display: flex;
  gap: 10px;
}

.custom-contact__newsletter input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 80%;
}

.custom-contact__newsletter button {
  padding: 10px;
  background-color: #8d7653;
  color: white;
  border: none;
  cursor: pointer;
}

.custom-contact__socials{
  margin-top: 2rem;
}

.custom-contact__socials a {
  
  margin: 0 10px;
  font-size: 1.5rem;
  color: #555;
}

.custom-contact__socials a:hover {
  color: #007bff;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .custom-contact__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }

  .custom-contact__section {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .custom-contact__grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .custom-contact__logo h1 {
    font-size: 1.8rem;
  }

  .custom-contact__info li {
    font-size: 0.9rem;
  }

  .custom-contact__links h3,
  .custom-contact__hours h3,
  .custom-contact__newsletter h3 {
    font-size: 1.25rem;
  }

  .custom-contact__socials a {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .custom-contact__newsletter form {
    flex-direction: column;
    align-items: stretch;
  }

  .custom-contact__newsletter input {
    width: 100%;
  }

  .custom-contact__newsletter button {
    width: 100%;
  }
}
